<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poké-Talk!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>

<body>
    
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <h1><a class="navbar-brand" href="#">Poké-Talk!</a></h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse fw-bold" id="navbarNav">
                <ul class="navbar-nav ms-auto me-2 fs-3">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/"> <i
                                class="bi-house"></i> </a></li>
                    <li class="nav-item"><a class="nav-link" href="/talkroom"> <i class="bi-chat-left-text"></i> </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/dblogpage"> <i class="bi-journals"></i> </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> <i class="bi-person-circle"></i> </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> <i class="bi-question-circle"></i> </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container text-center bg-light p-3 p-lg-5" id="List">
            <div class="row">

                <div class="col-6 col-lg-3 my-2">
                    <div class="card rounded-3 shadow-sm h-100" data-bs-toggle="modal" data-bs-target="#chara_detail"
                        id="card_0">
                        <div class="card-body border rounded-1">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/25.png"
                                width="180" class="img-fluid" id="chara_img_0">
                            <div class="card-tile fs-3 fw-normal" id="chara_name_0">Pokémon 1</div>
                            <div class="" id="chara_genera_0">はなつみポケモン</div>
                            <div class="" id="chara_color_0">みどりいろ</div>
                            <!-- <p>ポケモンの　しょうかいが　ひょうじ<br>されます。　よみこみが　おわる<br>まで　おまち　ください。</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-3 my-2">
                    <div class="card rounded-3 shadow-sm h-100" data-bs-toggle="modal" data-bs-target="#chara_detail"
                        id="card_1">
                        <div class="card-body border">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/25.png"
                                width="180" class="img-fluid" id="chara_img_1">
                            <div class="card-tile fs-3 fw-normal" id="chara_name_1">Pokémon 1</div>
                            <div class="" id="chara_genera_1">はなつみポケモン</div>
                            <div class="" id="chara_color_1">みどりいろ</div>
                            <!-- <p>ポケモンの　しょうかいが　ひょうじ<br>されます。　よみこみが　おわる<br>まで　おまち　ください。</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-3 my-2">
                    <div class="card rounded-3 shadow-sm h-100" data-bs-toggle="modal" data-bs-target="#chara_detail"
                        id="card_2">
                        <div class="card-body border">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/25.png"
                                width="180" class="img-fluid" id="chara_img_2">
                            <div class="card-tile fs-3 fw-normal" id="chara_name_2">Pokémon 1</div>
                            <div class="" id="chara_genera_2">はなつみポケモン</div>
                            <div class="" id="chara_color_2">みどりいろ</div>
                            <!-- <p>ポケモンの　しょうかいが　ひょうじ<br>されます。　よみこみが　おわる<br>まで　おまち　ください。</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-3 my-2">
                    <div class="card rounded-3 shadow-sm h-100" data-bs-toggle="modal" data-bs-target="#chara_detail"
                        id="card_3">
                        <div class="card-body border">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/25.png"
                                width="180" class="img-fluid" id="chara_img_3">
                            <div class="card-tile fs-3 fw-normal" id="chara_name_3">Pokémon 1</div>
                            <div class="" id="chara_genera_3">はなつみポケモン</div>
                            <div class="" id="chara_color_3">みどりいろ</div>
                            <!-- <p>ポケモンの　しょうかいが　ひょうじ<br>されます。　よみこみが　おわる<br>まで　おまち　ください。</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-3 my-2">
                    <div class="card rounded-3 shadow-sm h-100" data-bs-toggle="modal" data-bs-target="#chara_detail"
                        id="card_4">
                        <div class="card-body border">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/25.png"
                                width="180" class="img-fluid" id="chara_img_4">
                            <div class="card-tile fs-3 fw-normal" id="chara_name_4">Pokémon 1</div>
                            <div class="" id="chara_genera_4">はなつみポケモン</div>
                            <div class="" id="chara_color_4">みどりいろ</div>
                            <!-- <p>ポケモンの　しょうかいが　ひょうじ<br>されます。　よみこみが　おわる<br>まで　おまち　ください。</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-3 my-2">
                    <div class="card rounded-3 shadow-sm h-100" data-bs-toggle="modal" data-bs-target="#chara_detail"
                        id="card_5">
                        <div class="card-body border">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/25.png"
                                width="180" class="img-fluid" id="chara_img_5">
                            <div class="card-tile fs-3 fw-normal" id="chara_name_5">Pokémon 1</div>
                            <div class="" id="chara_genera_5">はなつみポケモン</div>
                            <div class="" id="chara_color_5">みどりいろ</div>
                            <!-- <p>ポケモンの　しょうかいが　ひょうじ<br>されます。　よみこみが　おわる<br>まで　おまち　ください。</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-3 my-2">
                    <div class="card rounded-3 shadow-sm h-100" data-bs-toggle="modal" data-bs-target="#chara_detail"
                        id="card_6">
                        <div class="card-body border">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/25.png"
                                width="180" class="img-fluid" id="chara_img_6">
                            <div class="card-tile fs-3 fw-normal" id="chara_name_6">Pokémon 1</div>
                            <div class="" id="chara_genera_6">はなつみポケモン</div>
                            <div class="" id="chara_color_6">みどりいろ</div>
                            <!-- <p>ポケモンの　しょうかいが　ひょうじ<br>されます。　よみこみが　おわる<br>まで　おまち　ください。</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-3 my-2">
                    <div class="card rounded-3 shadow-sm h-100" data-bs-toggle="modal" data-bs-target="#chara_detail"
                        id="card_7">
                        <div class="card-body border">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/25.png"
                                width="180" class="img-fluid" id="chara_img_7">
                            <div class="card-tile fs-3 fw-normal" id="chara_name_7">Pokémon 1</div>
                            <div class="" id="chara_genera_7">はなつみポケモン</div>
                            <div class="" id="chara_color_7">みどりいろ</div>
                            <!-- <p>ポケモンの　しょうかいが　ひょうじ<br>されます。　よみこみが　おわる<br>まで　おまち　ください。</p> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Launch static backdrop modal
        </button> -->

        <!-- Modal -->
        <div class="modal fade" id="chara_detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg bg-light rounded-3">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="fw-normal fs-4 px-3">ポケモンをえらぶ</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid text-center">
                            <div class="row align-items-center px-5 py-3">
                                <div class="col-12 col-lg-6">
                                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/25.png"
                                        class="img-fluid" id="chara_img_selected">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="fs-2 fw-normal my-3" id="chara_name_selected">Pokemon</div>
                                    <div class="m-1" id="chara_description_selected">はなつみポケモン / みどりいろ</div>
                                    <div class="m-1" id="chara_flavor_selected">せつめい</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">　もどる　</button>
                        <button type="button" class="btn btn-primary" id="btn_confirm">　はなす　</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer>
        <p class="text-center">&copy; 2023 Mitrarashi3776 All Rights Reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/original_webapp_v0.3_index.js') }}" charset="utf-8">
    </script>
</body>

</html>